.footer_container{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: gray;
  font-size: 12px;
  border-top: 0.5px solid lightgray;
  padding-top: 5px;
}

footer{
  display: block;
}